<!-- head -->
<%- include('partials/head') %>
<!-- header -->
<%- include('partials/header') %>
<body class="contact-page">
  <main class="main">
    <!-- Page Title -->
    <div class="page-title light-background">
      <div class="container">
        <h1>Contact</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="/">Home</a></li>
            <li class="current">Page Not Found 404 Errors</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">
      <div class="container" data-aos="fade">
        <div class="row gy-5 gx-lg-5">
          <div class="col-lg-4">
            <div class="info">
              <h3>Page Not found</h3>
              <p>Et id eius voluptates atque nihil voluptatem enim in tempore minima sit ad mollitia commodi minus.</p>
              </div><!-- End Info Item -->
            </div>
         
          <div class="col-lg-8">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRN0zojqGcx7dpA1n63mOBW7iIO5qsBkvlzDg&s" class="w-50">

         
        </div>
      </div>
    </section><!-- /Contact Section -->
  </main>
  <!-- footer -->
 <%- include('partials/footer') %>

 