:root {
  --bg-primary: #09143d;
  --bg-black: black;
  --bg-white: white;
  --bg-secondary: #c1c5d4;

  --text-primary: #09143d;
  --text-black: black;
  --text-white: white;
  --text-secondary: #c1c5d4;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: var(--bg-secondary);
}
#header {
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--bg-white);
  padding: 35px;
  top: 0;
  position: sticky;
  z-index: 10 !important;
}
.call-us {
  width: 20%;
  height: auto;
  margin-left: 3%;
}

.search-box {
  width: 50%;
  height: auto;
  margin-left: 2%;
}

.social-media {
  width: 20%;
  height: auto;
  margin-left: 2%;
}
.search-box input {
  width: 90%;
  height: auto;
  padding: 8px;
}
.social-media .icons {
  font-size: 25px;
  letter-spacing: 15px !important;
  color: red;
  margin: 4px;
}
#nav {
  width: 100%;
  height: auto;
  padding: 5px;
  background-color: var(--bg-black);
}
#nav ul li {
  display: inline-block;
  padding: 2px 25px;
  text-decoration: none;
}
#nav ul li a {
  color: white;
  list-style-type: none;
  text-decoration: none;
}
#slider {
  width: 60%;
  height: 400px;
  margin-left: 20%;
  margin-top: 2%;
  background-color: var(--bg-black);
}

#content {
  width: 60%;
  height: 1200px;
  margin-left: 20%;
  margin-top: 2%;
  background-color: var(--bg-white);
}

#footer {
  width: 100%;
  height: 80px;
  margin-top: 2%;
  padding: 5px;
  background-color: var(--bg-black);
}
