body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: white;
}
.delete-button {
  top: 10px;
  right: 10px;
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 45%;
}
