<!-- head -->
<%- include('partials/head') %>
<!-- header -->
<%- include('partials/header') %>
<body class="about-page">    
  <main class="main">
    <!-- Page Title -->
    <div class="page-title light-background">
      <div class="container">
        <h1>About</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="/">Home</a></li>
            <li class="current">About</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <main class="main">
        <!-- About Section -->
        <section id="about" class="about section light-background">
    
          <div class="container">
            <div class="row align-items-center justify-content-between">
              <div class="col-lg-7 mb-5 mb-lg-0 order-lg-2" data-aos="fade-up" data-aos-delay="400">
                <div class="swiper init-swiper">
                  <script type="application/json" class="swiper-config">
                    {
                      "loop": true,
                      "speed": 600,
                      "autoplay": {
                        "delay": 5000
                      },
                      "slidesPerView": "auto",
                      "pagination": {
                        "el": ".swiper-pagination",
                        "type": "bullets",
                        "clickable": true
                      },
                      "breakpoints": {
                        "320": {
                          "slidesPerView": 1,
                          "spaceBetween": 40
                        },
                        "1200": {
                          "slidesPerView": 1,
                          "spaceBetween": 1
                        }
                      }
                    }
                  </script>
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <img src="customers/images/bannener/PS 19-2-23 11.JPG" alt="Image" class="img-fluid">
                    </div>
                    <div class="swiper-slide">
                      <img src="customers/images/bannener/PS 21-4-24 5.JPG" alt="Image" class="img-fluid">
                    </div>
                    <div class="swiper-slide">
                      <img src="customers/images/bannener/PS 21-4-24 6.JPG" alt="Image" class="img-fluid">
                    </div>
                  </div>
                  <div class="swiper-pagination"></div>
                </div>
              </div>
              <div class="col-lg-4 order-lg-1">
               
                <h1 class="mb-4" data-aos="fade-up">
                  Discover Our Culinery Master
                </h1>
                <p data-aos="fade-up">
                  Far far away, behind the word mountains, far from the countries
                  Vokalia and Consonantia, there live the blind texts. Separated they
                  live in Bookmarksgrove right at the coast of the Semantics, a large
                  language ocean.
                </p>
                <p class="mt-5" data-aos="fade-up">
                  <a href="#" class="btn  btn-dark text-white">Get Started</a>
                </p>
              </div>
            </div>
          </div>
        </section><!-- /About Section -->
    
        <!-- About 2 Section -->
        <section id="about-2" class="about-2 section light-background">
    
          <div class="container-fluid">
            <div class="content">
              <div class="row justify-content-center">
                <div class="col-sm-12 col-md-7 col-lg-7 col-xl-4 order-lg-2 offset-xl-1 mb-4">
                  <div class="img-wrap text-center text-md-left" data-aos="fade-up" data-aos-delay="100">
                    <div class="img">
                      <img src="customers/images/PS 19-2-23 13 GRAY.jpg" alt="circle image" class="img-fluid">
                    </div>
                  </div>
                </div>
    
                <div class="offset-md-0 offset-lg-1 col-sm-12 col-md-3 col-lg-3 col-xl-4" data-aos="fade-up">
                  <div class="px-3">
                    <h2 class="content-title text-start">
                     About Our Company
                    </h2>
                    <p class="lead">
                      A small river named Duden flows by their place and supplies it
                      with the necessary regelialia. It is a paradisematic country.
                    </p>
                    <p class="mb-5">
                      The Big Oxmox advised her not to do so, because there were
                      thousands of bad Commas, wild Question Marks and devious Semikoli.
                    </p>
                    <p>
                      <a href="#" class="btn btn-dark text-white">Get Started</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section><!-- /About 2 Section -->
    
        <!-- Services Section -->
        <section id="services" class="services section">
          <div class="container-fluid">
            <div class="row gy-4 justify-content-center">
                <h2 class="content-title text-start text-center">Featured Products</h2>
              <div class="col-lg-3">
                <div class="services-item" data-aos="fade-up">
                  <div class="services-icon">
                    <i class="bi bi-bullseye"></i>
                  </div>
                  <div>
                    <h3>Technology</h3>
                    <p>Separated they live in Bookmarksgrove right at the coast</p>
                  </div>
                </div>
              </div>
    
              <div class="col-lg-3">
                <div class="services-item" data-aos="fade-up" data-aos-delay="100">
                  <div class="services-icon">
                    <i class="bi bi-command"></i>
                  </div>
                  <div>
                    <h3>Web Design</h3>
                    <p>Separated they live in Bookmarksgrove right at the coast</p>
                  </div>
                </div>
              </div>
    
              <div class="col-lg-3">
                <div class="services-item" data-aos="fade-up" data-aos-delay="200">
                  <div class="services-icon">
                    <i class="bi bi-bar-chart"></i>
                  </div>
                  <div>
                    <h3>Branding</h3>
                    <p>Separated they live in Bookmarksgrove right at the coast</p>
                  </div>
                </div>
              </div>
    
            </div>
          </div>
        </section><!-- /Services Section -->
    
       
        <!-- Blog Posts Section -->
        <section id="blog-posts" class="blog-posts section">
          <!-- Section Title -->
          <div class="container section-title" data-aos="fade-up">
            <h2>Our Collections</h2>
          </div><!-- End Section Title -->
          <div class="container">
    
            <div class="row gy-4">
    
              <div class="col-md-6 col-lg-4">
                <div class="post-entry" data-aos="fade-up" data-aos-delay="100">
                  <a href="#" class="thumb d-block"><img src="customers/images/PS 21-1-25 20.JPG" alt="Image" class="img-fluid rounded"></a>
    
                  <div class="post-content">
                    <div class="meta">
                      <a href="#" class="cat">Made On</a> •
                      <span class="date">February 16, 2025</span>
                    </div>
                  
                  </div>
                </div>
              </div>
    
           <div class="col-md-6 col-lg-4">
                <div class="post-entry" data-aos="fade-up" data-aos-delay="100">
                  <a href="#" class="thumb d-block"><img src="customers/images/PS 21-1-25 20.JPG" alt="Image" class="img-fluid rounded"></a>
    
                  <div class="post-content">
                    <div class="meta">
                      <a href="#" class="cat">Made On</a> •
                      <span class="date">February 16, 2025</span>
                    </div>
                  
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="post-entry" data-aos="fade-up" data-aos-delay="100">
                  <a href="#" class="thumb d-block"><img src="customers/images/PS 21-1-25 20.JPG" alt="Image" class="img-fluid rounded"></a>
    
                  <div class="post-content">
                    <div class="meta">
                      <a href="#" class="cat">Made On</a> •
                      <span class="date">February 16, 2025</span>
                    </div>
                  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section><!-- /Blog Posts Section -->
        <!-- Tabs Section -->
        <section id="tabs" class="tabs section light-background">
    
          <div class="container">
            <div class="row gap-x-lg-4 justify-content-between">
              <div class="col-lg-4 js-custom-dots">
                <a href="#" class="service-item link horizontal d-flex active" data-aos="fade-left" data-aos-delay="0">
                  <div class="service-contents">
                    <h3>Sleek Design</h3>
                    <p>
                      Far far away, behind the word mountains, far from the countries .
                     
    
                    </p>
                  </div>
                  <!-- /.service-contents-->
                </a>
               
              </div>
    
          
            </div>
          </div>
        </section><!-- /Tabs Section -->
    
      
        <!-- Happy customers -->
        <section id="testimonials" class="testimonials section">
          <!-- Section Title -->
          <div class="container section-title" data-aos="fade-up">
            <p>Happy Customers</p>
            <h2>Testimonials</h2>
          </div><!-- End Section Title -->
    
          <div class="container" data-aos="fade-up">
            <div class="row justify-content-center">
              <div class="col-lg-7">
                <div class="swiper init-swiper">
                  <script type="application/json" class="swiper-config">
                    {
                      "loop": true,
                      "speed": 600,
                      "autoplay": {
                        "delay": 5000
                      },
                      "slidesPerView": "auto",
                      "pagination": {
                        "el": ".swiper-pagination",
                        "type": "bullets",
                        "clickable": true
                      },
                      "breakpoints": {
                        "320": {
                          "slidesPerView": 1,
                          "spaceBetween": 40
                        },
                        "1200": {
                          "slidesPerView": 1,
                          "spaceBetween": 1
                        }
                      }
                    }
                  </script>
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="testimonial mx-auto">
                        <figure class="img-wrap">
                          <img src="customers/assets/img/testimonials/testimonials-1.jpg" alt="Image" class="img-fluid">
                        </figure>
                        <h3 class="name">Adam Aderson</h3>
                        <blockquote>
                          <p>
                            “There live the blind texts. Separated they live in
                            Bookmarksgrove right at the coast of the Semantics, a large
                            language ocean.”
                          </p>
                        </blockquote>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="testimonial mx-auto">
                        <figure class="img-wrap">
                          <img src="customers/assets/img/testimonials/testimonials-2.jpg" alt="Image" class="img-fluid">
                        </figure>
                        <h3 class="name">Lukas Devlin</h3>
                        <blockquote>
                          <p>
                            “There live the blind texts. Separated they live in
                            Bookmarksgrove right at the coast of the Semantics, a large
                            language ocean.”
                          </p>
                        </blockquote>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="testimonial mx-auto">
                        <figure class="img-wrap">
                          <img src="customers/assets/img/testimonials/testimonials-3.jpg" alt="Image" class="img-fluid">
                        </figure>
                        <h3 class="name">Kayla Bryant</h3>
                        <blockquote>
                          <p>
                            “There live the blind texts. Separated they live in
                            Bookmarksgrove right at the coast of the Semantics, a large
                            language ocean.”
                          </p>
                        </blockquote>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-pagination"></div>
                </div>
              </div>
            </div>
          </div>
        </section><!-- /Testimonials Section -->   
      </main>
 
      <!-- footer -->
 <%- include('partials/footer') %>