body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}
.navbar-links {
  margin: 0;
  padding: 0;
}
.navbar-links {
  margin-left: 10% !important;
}
.navbar-links li {
  display: block;
  padding: 0 auto;
}
.navbar-links a {
  color: white;
  font-size: 20px;
}
.sidebar-links {
  margin-left: 0% !important;
}
.sidebar-links li {
  display: block;
  padding: 18px 4px;
}
.sidebar-links a {
  color: white
  text-decoration: none;
  list-style-type: none;
}
