* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}
#user-header {
  width: 100%;
  height: auto;
}
.navbar-links {
  margin: 0;
  padding: 0;
}
.navbar-links li {
  display: inline-block !important;
  padding: 0px 7px;
}
.navbar-links a {
  text-decoration: none;
  list-style-type: none;
  color: white;
}
.banner-txt h1 {
  font-size: 45px !important;
  font-weight: 700 !important;
}
